:root {--blk: #0f0f0f;}
svg {height: auto; stroke-width: 2;}
svg polygon:not(.region):not(.x), svg path:not(.region):not(.x), svg polyline:not(.region):not(.x) {stroke:var(--blk); stroke-linejoin:bevel; stroke-miterlimit:10;}
.region {stroke: var(--blk); stroke-linejoin: bevel; stroke-miterlimit: 10;}
.land { stroke: var(--blk); stroke-linejoin: bevel; stroke-miterlimit: 10;}
.dotted {stroke-dasharray: 6 6;stroke-width: 2px; stroke-linejoin: bevel; stroke-linecap: round; stroke-opacity: 0.3;}
.nofill {fill: none !important;}
.nostroke {stroke: none !important;}
.region.dotted.stripe {pointer-events: none;} 

@media (max-width: 768px){
svg {
    height: auto;
}
}