.search-info{
    background-color: var(--white);
    overflow-y: scroll;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    .save-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        .save-word-button {
            cursor: pointer;
        }
    }
    .added-group {
        margin: 20px 0;
    }
    h1{
        text-align: center;
    }
}

#translation{
    div{
        h3{
            text-align: center;
            margin: 1.4rem;
            font-size: 1.4rem;
        }

        ol{
            list-style: none;

            li{
                form{
                    display: inline-flex;
                    font-size: 1.2rem;
                    padding: 1rem;
                }
            }
        }
    }
}

.save-word-button{
    background-color: var(--yellow);
    border: none;
    font-size: 1.6rem;
    color: var(--black);
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}

.save-word-button{
    background-color: var(--blue);
    color: var(--yellow);
}

.link-login{
    color: var(--red);
}
.link-login:hover{
    color: var(--dark-blue);
}

@media (min-width: 768px){
    .search-info{
        width: 400px;
        padding: 13rem 3rem;
        margin-left: auto;
        right: 0;
        top: 0;
        height: 100%;
        .added-group {
            margin: 20px 0;
        }
        h1{
            font-size: 1.6rem;
            text-align: left;
        }
        h2{
            font-size: 1.2rem;
            margin: 10px 0;
        }
        
    }
    
}

@media (max-width: 768px){
    
    .search-info{
        width: 100%;
        background-color: var(--white);
        height: 75vh;
        padding-top: 13rem;

        h2, p{
            margin: 1rem;
        }
    }

    #translation{
        div{
            margin: 1rem;
        }
    }

    
}