#map {
    background-color: var(--map-blue);
    .lang-group {
        padding-top: 200px;
    transform: translateY(-200px);
    }
    form {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: flex-end;
        padding: 2rem;
        gap: 1rem;
        z-index: auto;
    }
    .input-group {
        position: relative;
        display: flex;
        justify-content: flex-end;

        #search {
            border: solid var(--black) 1px;
            border-radius: 30px;
            padding: 15px;
            font-size: 1rem;
            filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
        }
        
        select {
            position: absolute;
            width: auto;
            border: none;
            background-color: var(--dark-blue);
            color: var(--white);
            border-radius: 20px;
            cursor: pointer;
            height: 34px;
            margin: 8px;
            text-align: center;
            padding: 7px;
        }
        
    }
    .submit {
        background-color: var(--dark-blue);
        border: none;
        padding: 10px;
        width: 120px;
        color: var(--white);
        border-radius: 30px;
        margin-right: 10px;
        font-weight: 700;
        font-size: 1.1rem;
        cursor: pointer;
        transition: var(--anim);
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
    }
    .submit:hover{
        background-color: var(--yellow);
        color: var(--dark-blue);
    } 
    .legend {
        margin-top: 200px;
        padding: 0;
    margin-bottom: 2rem;
        ul {
            list-style: none;
            .green{color: var(--green); padding: 0; margin-top: 20px;}
            .orange{color: var(--orange); padding: 0;}
            .red{color: var(--red); padding: 0;}
        }
    } 
}

.info-menu{
    position: fixed;
    z-index: 4;
    ul {
        list-style: none;
        cursor: pointer;
        li {
            p {
                color: var(--white);
            }
        }
        .toggle-info {
            padding: 10px;
            svg{
                height: 30px;
            }
            .save {
                width: 24px;
            }
        }
    }
}
@media (min-width: 768px){
    .info-menu {
        background-color: var(--dark-blue);
        margin: 2rem;
        border-radius: 5px;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            width: 300px;
            .toggle-info {
                padding: 10px;
                transition: var(--anim);
                svg{
                    height: 30px;
                    fill: var(--white);
                }
                .save {
                    width: 24px;
                }
            }
            .toggle-info:hover{
                background-color: var(--yellow);
                border-radius: 5%;
            }
        }
    }
    #map{
        .map {
            margin-top: -100px;
        }
        .input-group {
            
            
            #search {
                min-width: 400px;
            }
        }
        
    }
}

@media (max-width: 768px){
    .info-menu {
        background-color: var(--dark-blue);
        width: 100%;
        top: auto;
        bottom: 0;
        ul {
            display: flex;
            justify-content: space-around;
            height: 60px;
            .toggle-info{
                width: 33.33%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: var(--anim);
            }
        }
        .toggle-info:hover{
            background-color: var(--dark-blue);
        }
    }
    #map {
        .map {
            width: 100%;
            position: absolute;
            height: 500px;
        }
        .legend {
            padding: 0 1rem;
        }
        form {
            align-items: flex-end;
            padding: 20px 0;
            z-index: 3;
        }
        .input-group {
            width: 95%;
            align-self: center;
            #search {
                width: 100%;
            }
            
        }
    }
 
}
