#wordlist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: var(--white);

    svg {
        background-color: transparent;
    }

    hgroup {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        margin-top: 50px;
    }

    .table-div {
        overflow-x: auto;
        background-color: var(--light-blue);
        border-radius: 8px;
    }

    .word-table {
        border-collapse: collapse;
        table-layout: auto;
        border-spacing: 0;
        table-layout: fixed;

        th, td {
            text-align: center;
            margin: 0;
            padding: 0;
            border: none;
        }
td {
    .icon-share, .icon-delete {
        transition: var(--anim);
    }
    .share-btn:hover, .icon-delete:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}
        tr {
            border: none;

        }

        thead {
            background-color: var(--dark-blue);
            color: var(--white);

            th {
                background-color: var(--dark-blue);
            }
        }
    }

    .sort {
        fill: var(--black);
        height: 25px;
        transition: var(--anim);

        &:hover {
            transform: scale(1.1);
        }
    }

    .translation-link {
        fill: var(--yellow);
        height: 30px;
        transition: var(--anim);
    .translation-link:hover {
        transform: scale(1.1)
    }
        svg{
            height: 30px;
            cursor: pointer;
        }
    }

    .icon-delete {
        fill: var(--red);
        background-color: transparent;
        border:none;
        width: 100px;
        svg{
            height: 30px;
            cursor: pointer;
        }
    }

    .share-btn{
        background-color: transparent;
        border:none;
        width: 100px;
        
        
        svg{
            height: 25px;
        }
    }
    @media (min-width: 768px) {
        hgroup {
            width: 75%;
        }

        .table-div {
            width: 75%;
        }

        .word-table {
            background-color: var(--light-blue);
            width: 100%;
            table-layout: fixed;

            th, td {
                padding: 20px;
            }

            tbody tr td a {
                svg {
                    height: 30px;
                }
            }
        }

    }

    @media (max-width: 768px) {
        hgroup {
            width: 95%;
        }

        .table-div {
            width: 100%;
        }

        .word-table {
            width: 100%;
            table-layout: fixed;

            thead th {
                font-size: 0.9rem;
            }

            th, td {
                padding: 15px;
            }
        }
    }
}
