:root {

    /*colors*/
    --black: #191919;
    --gray: #4E4E4E;
    --light-gray: #BEBEBE;
    --dark-blue: #001D3D;
    --blue: #043695;
    --light-blue: #dff0f5;

    --light-white: #fcfcf4;
    --white: #FEFEF6;

    --red-contrast: #FF0000;
    --yellow-contrast: #FFCC00;

    /*colors for map*/
    --map-blue: #D2F4FF;
    --green: #0FB636;
    --orange: #E78427;
    --red: #AB0303;
    --yellow: #E4B808;

    --fts:  1.2rem;

    --anim: 0.2s ease;

}

@font-face {
    font-family: 'Noto Sans';
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNjhg.woff2) format('woff2');
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

section{
    min-height: 90vh;
}

#login, #wordlist, #profile{
    background-color: var(--light-white);
    padding: 5rem 0;
}
